# Ignore CSV and text files
*.csv
*.txt
*.ipynb

# Ignore macOS system files
.DS_Store

language-modeling/training

Study1_probabilistic-reduction/plots
Study1_probabilistic-reduction/results


Study2_substitution-model/plots
Study1_substitution-model/results

manuscripts/
